## -*- coding: utf-8 -*-
<div class="alert alert-success">
  <strong>¡Nuevo sitio del LugCOS!:</strong> desde GNU/Linux... hasta impresoras 3D (pasando por electrónica y eventos "sociales").</div>

<hr />
